@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--pc-primary-font);
}

:root {
  /* COLORS */
  --p4-light-1: #03aed2;
  --p4-light-2: #68d2e8;
  --p4-light-3: #fdde55;

  --p4-dark-1: #240750;
  --p4-dark-2: #344c64;
  --p4-dark-3: #577b8d;
  --p4-dark-4: #57a6a1;

  /* FONTS */
  --p4-primary-font: "Lato", sans-serif;
  --p4-highlight-font: "Anton", sans-serif;

  --p4-font-size-xs: 10px;
  --p4-font-size-s: 15px;
  --p4-font-size-m: 20px;
  --p4-font-size-l: 25px;

  /* SPACINGS */
  --p4-margin-xs: 5px;
  --p4-margin-s: 10px;
  --p4-margin-m: 20px;
  --p4-margin-l: 30px;
  --p4-margin-xl: 50px;

  --p4-padding-xs: 5px;
  --p4-padding-s: 10px;
  --p4-padding-m: 20px;
  --p4-padding-l: 30px;
  --p4-padding-xl: 50px;

  --p4-gap-xs: 5px;
  --p4-gap-s: 10px;
  --p4-gap-m: 20px;
  --p4-gap-l: 30px;
  --p4-gap-xl: 50px;
}

h1 {
  color: #bc2e1e;
  background: #edde9c;
  text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;
  width: fit-content;
  padding: var(--p4-padding-xs) var(--p4-padding-m);
  border-radius: 10px;
  margin-top: 70px;
  width: 50%;
  height: auto;
  text-align: center;
  font-family: var(--p4-highlight-font);
  letter-spacing: 2px;
}

h2 {
  color: var(--p4-dark-4);
}

a {
  color: var(--p4-dark-1);
}

h4 {
  color: var(--p4-dark-2);
}

p {
  color: var(--p4-dark-3);
}

body {
  height: fit-content;
  background: url(/assets/background-light.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  transition: all 0.2s;
}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes cartel {
  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-3deg);
  }
}

@keyframes veloz {
  0% {
    opacity: 0;
    transform: translateX(-2000%) skewX(30deg);
  }
  60% {
    opacity: 1;
    transform: translateX(-20%) skewX(-30deg);
  }
  80% {
    transform: translateX(0%) skewX(15deg);
  }
}

@media (max-width: 880px) {
  h1 {
    margin-top: 100px;
  }
}
