nav button {
  position: fixed;
  top: 55px;
  right: 5px;
  width: 45px;
  border-radius: 50%;
  background-color: var(--p4-dark-3);
  border: 3px dashed #000;
}

nav button img {
  width: 100%;
  height: 100%;
}

.dark-mode {
  background: url(/assets/backgroundImageDark2.jpg);
  /* background-color: black; */
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  backdrop-filter: blur(5px);
}

body.dark-mode h1 {
  color: #edde9c;
  background: #bc2e1e;
}

body.dark-mode h2 {
  color: var(--p4-light-2);
}

body.dark-mode a {
  color: var(--p4-light-3);
}

body.dark-mode p {
  color: var(--p4-light-2);
}

.dark-mode #bigDiv {
  box-shadow: 5px 5px 5px 0px #ffffff, inset 4px 4px 15px 0px #ffffff,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
