#project-container {
  width: auto;
  height: auto;
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  gap: var(--p4-gap-l);
  font-family: var(--p4-primary-font);
  letter-spacing: 1px;
}

#bigDiv {
  margin: var(--p4-margin-xs);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
  background-color: rgba(85, 110, 133, 0.404);
}

#bigDiv:nth-child(2),
#bigDiv:nth-child(4) {
  flex-direction: row-reverse;
  gap: var(--p4-gap-l);
}

#firstDiv {
  width: 20%;
  height: 90%;
  padding: var(--p4-padding-xs);
  transform: translateX(1000px);
  animation: movimientoizquierda 2s forwards;
}

#firstDiv img {
  width: 100%;
  height: 100%;
  border: 2px solid #ff6550;
  transition: all 0.5s;
  border-radius: 10px;
}

#firstDiv img:hover {
  transform: scale(1.1);
}

#secondDiv {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--p4-gap-s);
  animation: movimientoderecha 2s forwards;
  transform: translateX(-1000px);
}

#secondDiv h2 {
  font-family: var(--p4-highlight-font);
  letter-spacing: 2px;
}

#secondDiv a {
  transition: all 0.5s;
}

#secondDiv div {
  display: flex;
  flex-direction: column;
  gap: var(--p4-gap-s);
}

@keyframes movimientoizquierda {
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

@keyframes movimientoderecha {
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

@media (max-width: 768px) {
  h1 {
    width: 50%;
  }
  #project-container {
    gap: var(--p4-gap-s);
  }
  #firstDiv {
    width: 30%;
    height: 70%;
  }
  #firstDiv img:hover {
    transform: scale(1.1);
  }
  #secondDiv h2 {
    font-size: var(--p4-font-size-m);
  }
  #secondDiv a {
    font-size: var(--p4-font-size-s);
  }
  #secondDiv div {
    font-size: var(--p4-font-size-s);
  }
}

@media (max-width: 500px) {
  #bigDiv {
    flex-direction: column;
    justify-content: center;
    height: fit-content;
  }
  #firstDiv {
    width: 50%;
    height: 30%;
  }
  #bigDiv:nth-child(2),
  #bigDiv:nth-child(4) {
    flex-direction: column;
  }
  #secondDiv {
    width: 90%;
    padding: var(--p4-padding-xs);
  }
}
