#piDiv {
  width: 90%;
  margin-top: var(--p4-margin-s);
  height: fit-content;
  padding: var(--p4-padding-s);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 5s aparicion ease-in-out;
}

#piDiv img {
  width: 50%;
  height: 400px;
  background-color:white;
  padding:10px 10px 50px 10px;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

#piDiv p {
  width: 50%;
  height: fit-content;
  border-radius: 0 0 20px 20px ;
  padding: var(--p4-padding-s);
  text-align: center;
  letter-spacing: 1px;
  color: #444444;
  background: #ffffff;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}

@keyframes aparicion {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}

@media (max-width: 768px) {
  #piDiv img {
    width: 90%;
    margin: var(--p4-padding-s);
  }
  #piDiv p {
    width: 90%;
    margin: var(--p4-padding-s);
  }
}

@media (max-width: 400px) {
  #piDiv {
    height: fit-content;
  }
  #piDiv p {
    height: fit-content;
  }
}
