#piDiv {
  width: 55%;
  margin-top: var(--p4-margin-s);
  height: fit-content;
  padding: var(--p4-padding-s);
  gap: var(--p4-gap-m);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#piDiv img {
  width: 50%;
  max-width: 300px;
  background-color: white;
  padding: 10px 10px 50px 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
  animation: veloz 2s forwards;
}

#piDiv p {
  width: 100%;
  height: fit-content;
  line-height: 20px;
  border-radius: 20px;
  padding: var(--p4-padding-s);
  text-align: center;
  letter-spacing: 1px;
  color: #444444;
  background: #ffffff;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
  animation: veloz 2s forwards;
}

@media (max-width: 768px) {
  #piDiv {
    width: 75%;
  }
  #piDiv img {
    width: 70%;
  }
  #piDiv p {
    width: 70%;
    gap: 0;
    border-radius: 0 0 20px 20px;
  }
}

@media (max-width: 400px) {
  #piDiv {
    height: fit-content;
  }
  #piDiv p {
    max-height: 200px;
    overflow: scroll;
  }
}
